.ce-popover--inline .ce-popover--nested .ce-popover__container {
	width: min-content !important;
	min-width: unset !important;
}

.ce-popover--inline .ce-popover--nested .ce-popover__items {
	width: max-content;
}
